# Unity 生成目录 / 文件
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]serSettings/
[Mm]emoryCaptures/
[Rr]ecordings/

# IDE
.vs/
.idea/
.vscode/
*.csproj
*.sln
*.suo
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# 自动化测试产物
TestResults/
*.alf
*.ulf

# Crash / 缓存
sysinfo.txt
*.stackdump
crashlytics-build.properties
# Unity Test Framework 自动生成的临时测试场景
Assets/InitTestScene*.unity
Assets/InitTestScene*.unity.meta
